### --- Environment & Secrets ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

### --- PHP / Composer ---
/vendor/
.phpunit.result.cache
.phpunit.cache/

### --- Docker ---
/pgdata/
docker/logs/*.log

### --- OS Specific (macOS) ---
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

### --- IDEs & Editors ---
# VS Code
.vscode/
!.vscode/extensions.json
*.code-workspace

# JetBrains (PhpStorm)
.idea/

### --- Logs & Temp ---
*.log
/tmp/


/var/data.txt

.php-cs-fixer.cache

csvgen.php